.pagination_box {
  display: block;
}
.pagination_box ul{
  margin: 0;
  padding: 0;
  list-style-type: none;
}
.page_item {
  display: inline-block;
}
.page_link{
  color: #1c1d1c;
  float: left;
  padding: 8px 16px;
  text-decoration: none;
  transition: background-color .3s;
  border: 1px solid #ddd;
  margin: 0 4px;
}

.page_link_selected{
  background-color: #1c1d1c;
  color: #ffffff;
  border: none;
  padding: 9px 17px;
  text-decoration: none;
  float: left;
  pointer-events: none;
}
.page_link:hover:not(.page_link_selected) {
  background-color: #ddd;
}

